/* The sidepanel menu */
.sidepanel {
  height: "30%"; /* Specify a height */
  width: "30%";
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 50;
  left: 0;
  background-color: #2E9AFE; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.001s; /* 0.5 second transition effect to slide in the sidepanel */
}


/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #2E9AFE;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #2E9AFE;
}
